$color-main: #8c11be;
$color-font-main: white;
$color-font-secondary: black;
$color-button-background: #a328d6;
$color-button-light: #868686;
$color-button-extra-light: #c6c6c6;
$color-font-positive-number: #03ac00;
$color-font-negative-number: #c70000;

$font-main: "Raleway", sans-serif;
$font-title: "Saira Stencil One", cursive;
